<div class="select-list">
    <ul>
        <li>
            <label>地址：</label>
            <input type="text" id="baiduApi_apiAddress" name="apiAddress" class="form-control" placeholder="请输入文本">
        </li>
        <li>
            <a class="btn btn-primary btn-rounded btn-sm" onclick="searchCoordinate()"><i class="fa fa-search"></i>查询经纬度</a>
        </li>
        <li style="width: 600px;">
            <label style="width: 200px;">经纬度(结果)：</label>
            <input type="text" id="baiduApi_coordinate" name="coordinate" class="form-control"  readonly="readonly" style="width: 380px;">
        </li>
    </ul>
</div>